body {
  font-family: "helvetica" sans-serif;
  text-align: center;
}
h1 {
  font-weight: bold;
  font-size: 70px;
}
.top {
  background-image: url('https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.jpg');
  color: White;
}
.select {
  font-size: 18px;
  color: white;
}
.middle {

}
h2 {
  font-size: 32px;
h3 {
  font-size: 23px;
}
 p {
  font-size: 14px;
}
.copyright {
  font-size: 11px;
}
.footer {
  background-color: gray;
}
